.container-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 7%;
    .title{
      font-size: 20px;
      font-weight: bold;
       padding-bottom: 15px;
       padding-left: 10px;
       display: flex;
    }
    .order-container{
      width: 90%;
      height: auto;
      // padding-top: 60px;
  
    }
  
  }
  