<ngb-carousel class="container-carousel">
  <ng-template class="template-slide" *ngFor="let item of slider" ngbSlide>
    <div class="picsum-img-wrapper image-fluid">
      <img src="{{ item.img }}" alt="Random first slide" >
    </div>
    <!-- <div class="carousel-caption">
      <h3>{{  item.name }}</h3>
      <p>{{ item.description }}</p>
    </div> -->
  </ng-template>
</ngb-carousel>
