.operacios-container{
  width: 100%;
  height: auto;
  // background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ranking-container{
    width: 90%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;

    .text-rank{
      font-size: 20px;
      font-weight: bold;
       padding-bottom: 30px;
       padding-left: 10px;
    }

    .tablet{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      background: #FAF9F5;
      border-radius: 7px;
      width: 335px;
      height: 40px;
      margin-bottom: 10px;
      p{
        padding-top: 10px;
      }
    }

    .green-c{
      font-size: 12px;
      color: green;
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      margin-top: 20px;
    }
  }

  .zonascubiertas{
    width: 90%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    p{
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 30px;
      padding-left: 10px;

    }
    .mapa{
      display: flex;
      justify-content: center;

    }
  }
}
