<div class="operacios-container">

  <div class="ranking-container">
    <p class="text-rank"> Ranking</p>
    <div class="tablet" *ngFor="let item of ranking">
      <p>{{item.num}}</p>
      <p>{{item.name}}</p>
      <p>{{item.price}}</p>
    </div>
    <p class="green-c" [routerLink]="['/admin/listaoperarios']"> VER A TODOS LOS OPERARIOS  ></p>
  </div>

  <div class="zonascubiertas">
    <p>Zonas Cubiertas</p>
    <div class="mapa">
      <img src="https://user-images.githubusercontent.com/60928490/92203032-e035d580-ee45-11ea-81a7-6ebf8bce7c8c.png" alt="">
    </div>
  </div>

</div>

<!-- <app-lista-order-admin></app-lista-order-admin> -->
