.footer-container{
  width: 100%;
  height: 55px;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;;
  .item-footer{
    width: 25%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    text-decoration:none;
    .image-icon{
      width: 24px;
      height: 24px;
      // background: violet;
      display: flex;
      justify-content: center;
      margin-top: 8px;
    }
    p{
      color: white;
    }
  }
}
