<div class="footer-container">
  <a class="item-footer" [routerLink]="['/operario/catalogo']">
    <div class="image-icon">
    <img src="https://user-images.githubusercontent.com/60928490/92049165-47bd2980-ed4f-11ea-9757-5472ccb3e17f.png" alt="">
    </div>
    <p>Home</p>
  </a>
  <a class="item-footer" [routerLink]="['/operario/favoritos']">

    <div class="image-icon">
      <img src="https://user-images.githubusercontent.com/60928490/92049163-468bfc80-ed4f-11ea-8a04-a90ef01f2b3d.png" alt="">
    </div>
    <p>Favoritos</p>
  </a>
  <a class="item-footer" [routerLink]="['/operario/lista-compras']">
    <div class="image-icon">
      <img src="https://user-images.githubusercontent.com/60928490/92049160-425fdf00-ed4f-11ea-8c40-08c84721c4fc.png" alt="">
    </div>
    <p>Carrito</p>
  </a>
  <a class="item-footer" [routerLink]="['/operario/mi-cuenta']">
    <div class="image-icon">
      <img src="https://user-images.githubusercontent.com/60928490/92049155-3e33c180-ed4f-11ea-94d3-4f9ce6aaf622.png" alt="">
    </div>
    <p>Mi cuenta</p>
  </a>
</div>
