
<nav class="navbar navbar-expand-lg navbar-light bg-light fix">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img src="https://user-images.githubusercontent.com/60928490/92066746-451afe00-ed68-11ea-807c-c1b298d27439.png" alt="" srcset="">
  <img src="https://user-images.githubusercontent.com/60928490/92068026-692c0e80-ed6b-11ea-94ee-a1e54ae3f072.png" alt="" srcset="">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a 
        class="nav-link" [routerLink]="['/operario/mi-cuenta']">
        <div class="image-icon-negro">
          <img src="https://user-images.githubusercontent.com/60928490/92049155-3e33c180-ed4f-11ea-94d3-4f9ce6aaf622.png" alt="">
        </div>
        Mi cuenta<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/operario/pedidos']">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/operario/finanzas']">Ganancias<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categoria
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/operario/catalogo">Aceites</a>
          <a class="dropdown-item" href="/operario/catalogo">Detergentes</a>
          <a class="dropdown-item" href="/operario/catalogo">Pastas</a>
          <a class="dropdown-item" href="/operario/catalogo">Jabones</a>
          <a class="dropdown-item" href="/operario/catalogo">Conservas</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']" (click)="onLogout()">Cerrar Sesion</a>
      </li>
    </ul>
  </div>
</nav>
