.card-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  // width:150px;
  // height: 290px;
  // font-size: 10px !important;
  .section-category{
    width: 100%;
    height: 320px;
    margin-top: 20px;
    margin-bottom: 30px;
    // background: greenyellow;
    .category-type{
      padding-left: 20px;
      color: red;
      font-weight: bold;
    }

    .column-card{
      max-height: 360px;
      // background: rgb(228, 91, 118);
      display: flex;
      // padding-bottom: 20px;

      // flex-wrap: wrap;
      overflow-x: auto !important;
      overflow-y:hidden;
      &::-webkit-scrollbar{
        width: 0;
      }
      .card-content{
        min-width:160px;
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
        // background: cornflowerblue;
        margin:15px;

        .favorite-content{
          width: 100%;
          height: auto;
          // background: chartreuse;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          button{
            border: none;
            background: white;
            outline: none;
          }
          button:visited {
            color:white;
          }
          button:hover {
            color: red;
          }
        }
        .container-item{
          width: 100%;
          height: 45px;
          background: rgba(#979797, 0.4);
          display: flex;
          text-align: center;
          justify-content: center;
          font-size: 11px;
          font-weight: bold;
          margin-bottom: 10px;
          align-items: center;
          position: relative;
          top: -20px;

          p{
            padding-top: 10px;
          }
        }

        .container-img{
          width: 95px;
          height: 95px;
          display: flex;
          justify-content: center;
          .size-image{
            width:auto !important;
            height: auto !important;
          }
        }
        .container-text{
          width: 100%;
          height: 110px;
          // background: coral;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .card-price{
            font-size: 20px;
            font-weight: bold;
          }
          .button-card{
            color: white;
            margin-bottom: 40px;
            border: none;
            background: #FD000D;
            padding: 10px 20px 10px 20px;
            border: none;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 4px;

            img{
              width: 24px;
              padding-left: 8px;
            }
          }
        }
      }
    }



  }

}


.ajust{
  width:auto !important;
  height: 45px !important;
  margin-top: 30px;
}

.cuadro{
  width: 160px !important;
}

.none {
  display: none;
}

.si{
  background-color: #6c5;
}
.no{
  background-color: #933;
}
