
<div class="card-container">
  <div class="section-category">
    <div class="category-type">
      <p>{{ category | uppercase }}</p>
    </div>
    <div class="column-card">
      <div class="card-content" *ngFor ="let item of products | filter: category">
        <div class="favorite-content">
          <!-- <button *ngIf="showMe" (click)="lessFavorite(item)">
            <img src="https://user-images.githubusercontent.com/60928490/92026023-fe0c1900-ed25-11ea-84fe-157b2b36567e.png" alt="">
          </button> -->
          <button  [hidden]="select" (click)="addFavorite(item)" (click)="toogleTag()"
          [ngClass]="{ '*': estadoPositivo, '': !estadoPositivo}" (click)="cambiaEstado()">
            <img src="https://user-images.githubusercontent.com/60928490/92026020-fcdaec00-ed25-11ea-89a1-9f125d3bdf15.png" alt="">
            {{texto}}
          </button>

        </div>

        <div class="container-img">
          <img src={{item.imgUrl}}>
        </div>
        <div class="container-item">
          <p class="card-title">{{item.name | uppercase}}</p>
        </div>
        <div class="container-text">
              <p class="card-price">
                S/.{{item.precio}}
              </p>
              <p class="card-price-suggested" [data]="priceSuggested(item.precio)">
                Precio sugerido: S/.{{data}}
              </p>
              <button type="button" class="button-card" (click)="addProduct(item)">
                <span>AGREGAR</span>
                <img src="https://user-images.githubusercontent.com/60928490/92156656-f19fc300-edee-11ea-921f-282a9675f1ce.png" alt="" srcset="">
              </button>
        </div>
      </div>
    </div>
  </div>

<div class="section-category">
    <div class="category-type">
      <p>{{ detergente | uppercase }}</p>
    </div>
    <div class="column-card">
      <div class="card-content" *ngFor ="let item of products | filter: detergente">
        <div class="favorite-content">
          <button  [hidden]="select" (click)="addFavorite(item)">
            <img src="https://user-images.githubusercontent.com/60928490/92026020-fcdaec00-ed25-11ea-89a1-9f125d3bdf15.png" alt="">
          </button>
          <!-- <button (click)="lessFavorite(item)">
            <img src="https://user-images.githubusercontent.com/60928490/92026023-fe0c1900-ed25-11ea-84fe-157b2b36567e.png" alt="">
          </button> -->
        </div>

        <div class="container-img">
          <img src={{item.imgUrl}}>
        </div>
        <div class="container-item">
          <p class="card-title">{{item.name | uppercase }}</p>
        </div>
        <div class="container-text">
              <p class="card-price">S/.{{item.precio}}</p>
              <p class="card-price-suggested" [data]="priceSuggested(item.precio)" >Precio sugerido: S/.{{data}}</p>
              <button type="button" class="button-card" (click)="addProduct(item)">
                <span>AGREGAR</span>
                <img src="https://user-images.githubusercontent.com/60928490/92156656-f19fc300-edee-11ea-921f-282a9675f1ce.png" alt="" srcset="">
              </button>
        </div>
      </div>
    </div>
  </div>

  <div class="section-category">
    <div class="category-type">
      <p>{{ pasta | uppercase }}</p>
    </div>
    <div class="column-card">
      <div class="card-content" *ngFor ="let item of products | filter: pasta">
        <div class="favorite-content">
          <button  [hidden]="select" (click)="addFavorite(item)">
            <img src="https://user-images.githubusercontent.com/60928490/92026020-fcdaec00-ed25-11ea-89a1-9f125d3bdf15.png" alt="">
          </button>
          <!-- <button (click)="lessFavorite(item)">
            <img src="https://user-images.githubusercontent.com/60928490/92026023-fe0c1900-ed25-11ea-84fe-157b2b36567e.png" alt="">
          </button> -->
        </div>

        <div class="container-img">
          <img src={{item.imgUrl}}>
        </div>
        <div class="container-item">
          <p class="card-title">{{item.name | uppercase}}</p>
        </div>
        <div class="container-text">
              <p class="card-price">S/.{{item.precio}}</p>
              <p class="card-price-suggested" [data]="priceSuggested(item.precio)" >Precio sugerido: S/.{{data}}</p>
              <button type="button" class="button-card" (click)="addProduct(item)">
                <span>AGREGAR</span>
                <img src="https://user-images.githubusercontent.com/60928490/92156656-f19fc300-edee-11ea-921f-282a9675f1ce.png" alt="" srcset="">
              </button>
        </div>
      </div>
    </div>
  </div>

  <div class="section-category">
    <div class="category-type">
      <p>{{ jabon | uppercase }}</p>
    </div>
    <div class="column-card">
      <div class="card-content cuadro" *ngFor ="let item of products | filter: jabon">
        <div class="favorite-content">
          <button  [hidden]="select" (click)="addFavorite(item)">
            <img src="https://user-images.githubusercontent.com/60928490/92026020-fcdaec00-ed25-11ea-89a1-9f125d3bdf15.png" alt="">
          </button>
          <!-- <button (click)="lessFavorite(item)">
            <img src="https://user-images.githubusercontent.com/60928490/92026023-fe0c1900-ed25-11ea-84fe-157b2b36567e.png" alt="">
          </button> -->
        </div>

        <div class="container-img">
          <img class="ajust" src={{item.imgUrl}}>
        </div>
        <div class="container-item">
          <p class="card-title">{{item.name | uppercase }}</p>
        </div>
        <div class="container-text">
              <p class="card-price">S/.{{item.precio}}</p>
              <p class="card-price-suggested" [data]="priceSuggested(item.precio)" >Precio sugerido: S/.{{data}}</p>
              <button type="button" class="button-card" (click)="addProduct(item)">
                <span>AGREGAR</span>
                <img src="https://user-images.githubusercontent.com/60928490/92156656-f19fc300-edee-11ea-921f-282a9675f1ce.png" alt="" srcset="">
              </button>
        </div>
      </div>
    </div>

  </div>

  <div class="section-category">
    <div class="category-type">
      <p>{{ conserva | uppercase }}</p>
    </div>
    <div class="column-card">
      <div class="card-content" *ngFor ="let item of products | filter: conserva">
        <div class="favorite-content">
          <button  [hidden]="select" (click)="addFavorite(item)">
            <img src="https://user-images.githubusercontent.com/60928490/92026020-fcdaec00-ed25-11ea-89a1-9f125d3bdf15.png" alt="">
          </button>
          <!-- <button (click)="lessFavorite(item)">
            <img src="https://user-images.githubusercontent.com/60928490/92026023-fe0c1900-ed25-11ea-84fe-157b2b36567e.png" alt="">
          </button> -->
        </div>

        <div class="container-img">
          <img class="ajust" src={{item.imgUrl}}>
        </div>
        <div class="container-item">
          <p class="card-title">{{item.name | uppercase }}</p>
        </div>
        <div class="container-text">
              <p class="card-price">S/.{{item.precio}}</p>
              <p class="card-price-suggested" [data]="priceSuggested(item.precio)" >Precio sugerido: S/.{{data}}</p>
              <button type="button" class="button-card" (click)="addProduct(item)">
                <span>AGREGAR</span>
                <img src="https://user-images.githubusercontent.com/60928490/92156656-f19fc300-edee-11ea-921f-282a9675f1ce.png" alt="" srcset="">
              </button>
        </div>
      </div>
    </div>
    </div>
</div>

<!-- eliminar -->
