<section>
  <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
    <mat-step style="padding: 0 !important;" [stepControl]="firstFormGroup" label="Elije" class="firstView">
      <div class="container-table" >
        <div class="item-product">
          <table class="table">
            <tbody>
              <!-- nuevo item -->
              <tr *ngFor="let product of products">

                  <td scope="row" class="cant-section align-middle image-table">
                    <img src={{product.imgUrl}} alt="">
                  </td>

                <th class="prod-section">
                  <p>{{product.name}}</p>
                  <div class="buttons">
                    <button type="button" class="btn" (click)="lessCant()">-</button>
                    <div class="contador-div">
                      <span class="align-middle text-center">{{contadorCant}}</span>
                    </div>
                    <button type="button" class="btn" (click)="addCant()">+</button>
                  </div>
                 
                </th>
               <th class="precio-section  align-middle">
                  <h3>Und. S/.{{product.precio}}</h3>
                 
                  <p>Total S/.{{product.precio*contadorCant}}</p>

                   <div (click)="lessProduct(product)" class="item-quitar">
                    <img src="../../../assets/trash.png" alt="">
                  </div>
                </th>
               <!--   <th>
                  
                </th> -->
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <article *ngIf="mostrarLiquidacion,else sinProductos">
        <div class="container-liq">
          <h4>LIQUIDACION</h4>
          <div class="container-liq-text">
            <div class="izq">
              <p>Precio de venta</p>
              <p>Precio Operario</p>
              <p>Descuento</p>
              <p>Sub Total</p>
            </div>
            <div class="der">
              <p>S/{{dataPrecio}}</p>
              <p>S/246.96</p>
              <p>S/-105.84</p>
              <p>S/246.96</p>
            </div>
          </div>

        </div>
        <div class="buttons-actions-section">
          <button class="btn btn-cancel" (click)="limpiarCarrito()">CANCELAR</button>
          <button class="btn btn-continue " mat-button matStepperNext>CONTINUAR</button>
        </div>
      </article>

      <ng-template  #sinProductos>
        <div class="sinProd">

          <img (click)="lessProduct()" src="https://user-images.githubusercontent.com/60928490/92176625-76e1a280-ee04-11ea-8f27-cb94f5f7c574.png" alt="">
          <h3>No tienes ningun producto en el carrito</h3>
          <button  [routerLink]="['/operario/catalogo']" mat-raised-button color="warn" matStepperPrevious>Seguir comprando</button>

        </div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Compra">
      <div class="resumen-pedido">
        <p>Resumen del Pedido</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">PRODUCTO</th>
              <th scope="col">CANT.</th>
              <th scope="col">PRECIO UNIT</th>
              <th scope="col">PRECIO TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>Detergente Bolivar</p>
                <p>400 grs Caja x 12un.</p>
              </td>
              <td>2</td>
              <td>s/. 150.80</td>
              <td>s/. 301.60</td>
            </tr>
            <tr>
              <td>
                <p>Jabón de ropa</p>
                <p>200 grs Caja x 30un.</p>
              </td>
              <td>2</td>
              <td>s/. 34.80</td>
              <td>s/. 69.60</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="total-pagar">
        <p>Total a pagar</p>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Subtotal</td>
              <td>s/. 371.20</td>
            </tr>
            <tr>
              <td>Flete</td>
              <td>s/. 10.00</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>s/. 381.20</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="choose">
        <p>Elije tu medio de Pago</p>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Tarjeta de Crédito</mat-radio-button>
          <mat-radio-button value="2">Línea de Crédito</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="edit-envio">
        <mat-slide-toggle>Editar dirección de envío</mat-slide-toggle>
      </div>

      <div class="buttonss example-button-row">
        <button mat-button color="primary" matStepperPrevious>REGRESAR</button>
        <button mat-raised-button color="primary" matStepperNext>ENVIAR PEDIDO</button>
      </div>
    </mat-step>
    <mat-step label="Paga">

      <img src="https://user-images.githubusercontent.com/60928490/92161016-91604f80-edf5-11ea-8f74-35c81b4a3e88.png"
        alt="" srcset="" class="img-listo">
        <button type="button" class="btn btn-danger btn-block mg-12" [routerLink]="['/operario/pedidos']">VER MIS PEDIDOS</button>
        <button type="button" class="btn btn-outline-danger btn-block mg-12"  [routerLink]="['/operario/catalogo']">SEGUIR COMPRANDO</button>
    </mat-step>
  </mat-horizontal-stepper>

</section>
