@mixin flex {
    display: flex;
    justify-content: center;
    align-content: center;
}

button:focus {
    outline: none !important;
    box-shadow: none;
}
  .sinProd{
        height: 60vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
section {
    height: 80vh;
    padding-top: 55px;
    width: 100vw;




    .container-table {
        width: 100%;
        @include flex;

        .item-product {
          // background: rgb(241, 241, 189);
            // width: 90%;

            .table {
                thead {
                    // background: #C4C4C4;
                }

                tbody {
                    tr {
                        .cant-section {
                          // background: yellow;
                            // width: 150px;
                            padding: 0 !important;

                            img {

                                align-self: center;
                                width: 100%;

                            }
                        }

                        .prod-section {
                            @include flex;
                            // width: 50%;
                            flex-direction: column;
                            // background: coral;
                            p{
                              font-size: 12px;
                            }
                            .buttons {
                                background: rgba(196, 196, 196, 0.5);
                                width: 70%;
                                height: 45%;
                                @include flex;
                                align-items: center;

                                .contador-div {
                                    width: 45px;
                                    height: 20px;
                                    background: #C4C4C4;
                                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
                                    @include flex;
                                    flex-direction: column;

                                    p {
                                        text-align: center;
                                    }

                                }

                                button {

                                    width: 45px !important;
                                    font-size: 1.3em;
                                    padding: 0 !important;


                                }
                            }
                        }

                        .precio-section {
                          // background: chocolate;
                            // width:  38%
                           
                        }

                        .item-quitar {
                            // width: 30px;
                            img {
                                width: 25px;
                                // width: 14%;
                            }
                        }
                    }
                }
            }
        }

    }

    article {
        // position:fixed;
        // bottom: 13%;
        width: 60%;
        align-self: flex-end;

        .container-liq {
            margin-left: 15%;
            /* margin-right: 5%; */
            margin-bottom: 5%;
            padding: 3%;
            margin-bottom: 5%;
            width: 95%;
            border: 1px solid #424242;
            box-sizing: border-box;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-self: flex-end;

            &-text {
                display: flex;
                flex-direction: row !important;
                justify-content: space-between;

                p {

                    line-height: 0.8;
                }
            }
        }

        .buttons-actions-section {
            width: 100%;
            display: flex;
            margin-bottom: 55px;
            .btn-cancel {
                filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
                border-radius: 4px;
            }

            .btn-continue {
                margin-left: 3%;
                background: #C4C4C4;

                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
            }
        }
    }

    // .actualizaciones{
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   text-align: center;
    //   width: 100%;
    //   height: 100vh;
    //   background: chocolate;
    // }
}

.buttonss {
    margin-bottom: 60px;
}


.mg-12 {
    margin-top: 20px !important;
    padding-top: 10px !important;
}

.img-listo {
    margin-left: 12% !important;
}
