.cuenta-container{
  width: 100%;
  height: auto;
  // background: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  .datos{
    font-size: 20px;
    margin-top: 40px;
    color: #1E5532;
  }

  .info-contact{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // background: darkcyan;
    margin-top: 20px;

    .title-contact{
      font-size: 20px;
      color: rgba(0, 0, 0, 0.87);
    }
    .content-user{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      // align-items: center;
      .sub-title{
        font-size: 12px;
      }
      .content-input{
        display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .content-cell{
        width: 40%;
        height: auto;
        p{
          font-size: 10px;
        }
        input {
          width: 90%;
          border-style: none;
          border-bottom: gray solid 2px;
        }
      }
      .content-email{
        // background: darkgoldenrod;
        width: 60%;
        height: auto;
        p{
          font-size: 10px;
        }
        input {
          width: 100%;
          border-style: none;
          border-bottom: gray solid 2px;
        }
      }
      }
    }
  }

  .lugar-contact{
    // background: chocolate;
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    p{
      font-size: 20px;
      color: rgba(0, 0, 0, 0.87);
    }
    .direction{
      width: 100%;
      p{
        font-size: 10px;
      }
      input{
        width: 100%;
          border-style: none;
          border-bottom: gray solid 2px;
      }
    }

    .zone{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      .district{
        width: 40%;
        height: auto;
        p{
          font-size: 10px;
        }
        input {
          width: 90%;
          border-style: none;
          border-bottom: gray solid 2px;
        }
      }

      .city{
        // background: darkgoldenrod;
        width: 60%;
        height: auto;
        p{
          font-size: 10px;
        }
        input {
          width: 100%;
          border-style: none;
          border-bottom: gray solid 2px;
        }
      }
    }

  }

  .zone-contact{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    p{
      font-size: 20px;
      color: rgba(0, 0, 0, 0.87);
    }
    .desastre{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      // background: yellow;
      .container-zone {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: row;
        // background: pink;
        .district-zone{
          width: 40%;
          height: auto;
        p{
          font-size: 10px;
        }
        input {
          width: 90%;
          border-style: none;
          border-bottom: gray solid 2px;
        }
        }

        .referencia{
            width: 60%;
            height: auto;
          p{
            font-size: 10px;
          }
          input {
            width: 90%;
            border-style: none;
            border-bottom: gray solid 2px;
          }
          }
        }
        .mas{
          // background: greenyellow;
          width: 15%;
          height: 100%;
          margin-top: 30px;
          display: flex;
          justify-content: center;
        }
      }

    }


  }
