<div class="cuenta-container">
  <p class="datos">Datos</p>

  <div class="info-contact">
    <div class="title-contact">
      <p>Información del Contacto</p>
    </div>
    <div class="content-user">
      <div class="sub-title">
        <p>Mario Montero Díaz</p>
      </div>
      <div class="content-input">
        <div class="content-cell">
          <p>Celular</p>
          <input type="text" placeholder="976345678">
        </div>
        <div class="content-email">
          <p>Correo</p>
          <input type="text" placeholder="mario123@nutricorp.com">
        </div>
      </div>
    </div>
  </div>

  <div class="lugar-contact">
    <p>Lugar de Despacho</p>
    <div class="direction">
      <p>Dirección</p>
      <input type="text" placeholder="Av. Jose Pardo 123">
    </div>
    <div class="zone">
      <div class="district">
        <p>Distrito</p>
        <input type="text" placeholder="Ate">
      </div>
      <div class="city">
        <p>Ciudad</p>
        <input type="text" placeholder="Lima">
      </div>
    </div>
  </div>

  <div class="zone-contact">
    <p>Zona de Reparto</p>
    <div class="desastre">
      <div class="container-zone">
        <div class="district-zone">
          <p>Distrito</p>
          <input type="text" placeholder="Ate">
        </div>
        <div class="referencia">
          <p>Referencia</p>
          <input type="text" placeholder="Ate">
        </div>
      </div>
      <div class="mas">
        <img src="https://user-images.githubusercontent.com/60928490/92054223-9bca0d00-ed53-11ea-8264-204429b87061.png" alt="">
      </div>
    </div>

  </div>

</div>

