<div class="footer-container">
  <a class="item-footer" >
    <div class="image-icon" [routerLink]="['/admin/home']">
    <img src="https://user-images.githubusercontent.com/60928490/92190761-8f16e900-ee27-11ea-870b-7ae1fe49d4a9.png" alt="">
    </div>
    <p>Home</p>
  </a>
  <a class="item-footer">

    <div class="image-icon" [routerLink]="['/admin/pedidos']">
      <img src="https://user-images.githubusercontent.com/60928490/92190765-90481600-ee27-11ea-99c4-eed648d91f6a.png" alt="">
    </div>
    <p>Pedidos</p>
  </a>
  <a class="item-footer">
    <div class="image-icon" [routerLink]="['/admin/productos']">
      <img src="https://user-images.githubusercontent.com/60928490/92190767-90481600-ee27-11ea-84be-5f0cdae7588f.png" alt="">
    </div>
    <p>Productos</p>
  </a>
  <a class="item-footer">
    <div class="image-icon" [routerLink]="['/admin/operarios']">
      <img src="https://user-images.githubusercontent.com/60928490/92190768-90e0ac80-ee27-11ea-8f45-3f8dc98655fb.png" alt="">
    </div>
    <p>Operarios</p>
  </a>
</div>
