.card-favorite{

  padding-bottom: 18%;
  padding-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  p{
    font-size: 20px;
    margin-left: 20px;
  }
  .cardst{
    width: 100%;
    height: 100px;
    // background: darkkhaki;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    .content-image{
      width: 90px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      // background: chartreuse;
      img{
        width: auto;
        height: auto;
      }
    }
    .title-favorite{
      width: 50%;
      // background: cornflowerblue;
      font-size: 12px;
    }
    .text-favorite{
      width: 20%;

      font-size: 14px;
      font-weight: bold;
    }

    button{
      border: none;
      padding-bottom: 20px;
      background: white;
    }
  }
  .sinFavoritos{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  }
}
