<div class="card-favorite">
  <p>Productos Favoritos</p>
    <div class="cardst" *ngFor="let item of favorites">
      <div class="content-image">
        <img class="img-favorite" src={{item.imgUrl}}>
      </div>

      <h2 class="title-favorite">{{item.name}}</h2>
      <h2 class="text-favorite">S/.{{item.precio}}</h2>
      <button (click)="lessFavorite(item)">
        <img src="https://user-images.githubusercontent.com/60928490/92026023-fe0c1900-ed25-11ea-84fe-157b2b36567e.png"
          alt="">
      </button>

    </div>
  <div class="sinFavoritos" [style.display]="favorites.length == 0 ? 'flex' :'none'">
    <img 
        src="https://user-images.githubusercontent.com/60928490/92176624-76490c00-ee04-11ea-93b8-e5f8ace4f7b6.png" alt="">
      <h3>No tienes ningun producto favorito</h3>
      <button  [routerLink]="['/operario/catalogo']" mat-raised-button color="warn">Seguir comprando</button>
  </div>
</div>