.order-admin{
  width: 100%;
  height: auto;
  // background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;

  p{
    font-size: 20px;
      font-weight: bold;
       padding-bottom: 30px;
       padding-left: 10px;
  }

  .content-table{
    width: 85% !important;
  }
}
