<div class="order-admin">
  <p>Lista de Operarios</p>
  <div class="content-table">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">DNI</th>
          <th scope="col">Distrito</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let index of listita">
          <td>{{index.name}}</td>
          <td>{{index.dni}}</td>
          <td>{{index.district}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
