.container-general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 60px;
  padding-top: 80px;

  .order-container{
    width: 90%;
    height: auto;
    // padding-top: 60px;

  }

}
