<div class="container-general">
  <div class="order-container">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Pedido</th>
          <th scope="col">Estado</th>
          <th scope="col">Ver Más</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">08/07/2020</th>
          <td>000723892</td>
          <td>Entregado</td>
          <td>
            <a href="https://user-images.githubusercontent.com/60928490/92201194-86331100-ee41-11ea-92ed-3da97efa34c2.png" download>
              <img src="https://user-images.githubusercontent.com/60928490/92180266-3d149a00-ee0c-11ea-8d80-517c8698e82a.png" alt="" >
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">08/07/2020</th>
          <td>000723892</td>
          <td>Entregado</td>
          <td>
            <a href="https://user-images.githubusercontent.com/60928490/92180266-3d149a00-ee0c-11ea-8d80-517c8698e82a.png" download>
              <img src="https://user-images.githubusercontent.com/60928490/92180266-3d149a00-ee0c-11ea-8d80-517c8698e82a.png" alt="" >
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">08/07/2020</th>
          <td>000723892</td>
          <td>Entregado</td>
          <td>
            <a href="https://user-images.githubusercontent.com/60928490/92180266-3d149a00-ee0c-11ea-8d80-517c8698e82a.png" download>
              <img src="https://user-images.githubusercontent.com/60928490/92180266-3d149a00-ee0c-11ea-8d80-517c8698e82a.png" alt="" >
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


