.container-products{
  width: 100%;
  height: auto;
  // background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}
.title{
    font-size: 20px;
    font-weight: bold;
     padding-bottom: 30px;
     padding-left: 10px;
     display: flex;
  }
.title-item{
  font-size: 16px;
  font-weight: bold;
   padding-left: 10px;
   display: flex;
   color: #1E5532;
}