<div class="container-products">
  <p class="title">Ranking de Productos</p>
  <div class="container-tablet">
    <table class="table">
      <tbody>
        <tr *ngFor="let item of table">
          <th scope="row">{{item.num}}</th>
          <td>{{item.first}}</td>
          <td>{{item.second}}</td>
          <td>{{item.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p class="title">Productos</p>
<p class="title-item">ACEITES</p>
<app-fila-products [data]="category"></app-fila-products>
<p class="title-item">JABONES</p>
<app-fila-products [data]="category1"></app-fila-products>
<p class="title-item">DETERGENTES</p>
<app-fila-products [data]="category2"></app-fila-products>
<P class="title-item">PASTAS</P>
<app-fila-products [data]="category3"></app-fila-products>
<P class="title-item">CONSERVAS</P>
<app-fila-products [data]="category4"></app-fila-products>

