$red: #ED1B2F;
$verde-militar: #1E5532;
.example-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .mat-form-field {
    // margin-left: 8%;
    width: 80%;
    height: 10%;
  }

  .mat-tab-labels {
    margin-left: 50px ;
  }
}

.img-logo{
    display: block;
    margin-top: 35%;
    margin-bottom: 10%;
    margin-left: 27%;
}


.button{
    display: flex;
    margin-left: 8%;
    width: 65%;
    color: white;
    background-color:$red;
    height: 50px;
    border-radius: 4px;
    align-items: center;
  justify-content: center;
}


.nota-login{
    display: block;
    margin: 5%;
    margin-top: 20%;
    color: $verde-militar;
    text-align: center;
}
