<div class="example-container">
  <div>
    <img class ="img-logo" src="../../../assets/Component 4.png">
  </div>
  <mat-card>
    <mat-card-content>
      <mat-tab-group style ="margin-left: 10%;" >
        <mat-tab label="OPERARIO" >
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <mat-form-field appearance="outline">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Enter your email" class="form-control" required formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Enter your password" class="form-control" required
                formControlName="password">
              <mat-hint align="end">Min 5 caracteres</mat-hint>
            </mat-form-field>

            <div>
              <button class="button" type="submit" [routerLink]="['/operario/catalogo']">INGRESAR</button>
            </div>
          </form>
        </mat-tab>

        <mat-tab label="ADMINISTRADOR">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <mat-form-field appearance="outline">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Enter your email" class="form-control"
              required formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Enter your password" class="form-control"
              required formControlName="password">
              <mat-hint align="end">Min 5 caracteres</mat-hint>
            </mat-form-field>

            <div>
              <button class="button" type="submit" [routerLink]="['/admin/home']">INGRESAR</button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <p class="nota-login">Si no conoces tu usuario y contraseña, comunícate con nosotros al siguiente correo electrónico
    atencionclientes@nutricorp.com.pe</p>
</div>
