<header>
  <img src="https://user-images.githubusercontent.com/60928490/92066746-451afe00-ed68-11ea-807c-c1b298d27439.png">
<button mat-button color="primary" [routerLink]="['/login']" (click)="onLogout()">Cerrar Sesion</button>
</header>
<div  class="carousel">
  <router-outlet></router-outlet>
</div>
<!-- <app-vista-mapa></app-vista-mapa> -->
<app-footer-admin></app-footer-admin>

<!-- <div class="carousel">
    <app-vista-home></app-vista-home>
</div> -->
