
    header{
        height: 55px;
    display: flex;
    justify-content: left;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background: #FAF9F5;


    img{margin: 2%;
    }
}
.carousel{
    margin-top: 55px;
    padding-bottom: 15%;
}
