


<div class="scrollmenu">
  <div class="plus-content">
    <div class="button-modal">
      <img src="../../../assets/mas.png" alt="">
    </div>
    <p>Añade un nuevo producto</p>
  </div>
 <div class="card-content" *ngFor ="let item of products | filter:category">
  <div class="favorite-content">
    <button >
      <img src="../../../assets/lapiz.png" alt="">
    </button>
  </div>

  <div class="container-img">
    <img class="size-image" src={{item.imgUrl}}>
  </div>
  <div class="container-item">
    <p class="card-title">{{item.name | uppercase }}</p>
  </div>
  <div class="container-text">
        <p class="card-price">S/.{{item.precio}}</p>
  <!-- <p [precioSugerido]="priceSuggested(product.precio)">Total S/.{{precioSugerido}}</p> -->

  </div>
</div>
</div>