@mixin padLateral($pad) {
    padding-left: $pad;
    padding-right:$pad;
}

.card-content {
    max-width: 160px;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // float: right;
    // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    // background: cornflowerblue;
    // margin: 15px;
    .favorite-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        button {
            border: none;
            background: white;
            outline: none;
        }
    }

    .container-item {
        width: 100%;
        height: 45px;
        background: rgba(#979797, 0.4);
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 11px;
        font-weight: bold;
        align-items: center;
        position: relative;
        top: -20px;
        white-space: pre-wrap;

        p {
            padding-top: 10px;
        }
    }

    .container-img {
        display: flex;
        justify-content: center;

        .size-image {
            width: auto !important;
            height: auto !important;
        }
    }

    .container-text {
        width: 100%;
        // background: coral;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-price {
            font-size: 20px;
            font-weight: bold;
        }

    }

}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    .plus-content{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* position: relative; */
        top: -50px;
        /* padding-left: 3%; */
        /* padding-right: 3%; */
        /* width: 160px; */
        min-width: 143px;
        text-align: center;
        /* margin: 15px; */
        white-space: pre-wrap;

        img{
            // width: 50%;
        }
    }
  }
  
  div.scrollmenu .card-content {
    min-width: 160px;
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  .ajust{
    width:auto !important;
    height: 45px !important;
    margin-top: 30px;
  }
  
  .cuadro{
    width: 160px !important;
  }