h2{
    color: rgba(0, 0, 0, 0.87);
    font-size: 2.1em;
}

article{
    padding-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    .map-contenainer{
        margin: 0;
        padding: 0;
        width: 83%;
        img{
            width: 100%;
        }
    }
    .dudas{
        position:fixed;
        bottom: 13%;
        width: 90%;
        .enlaces{
            width: 80%;
            display: flex;
            justify-content: space-between;
            a{
                color: rgba(0, 0, 0, 0.87) !important;}
        }
    }
}