
<article>
    <figure class="map-contenainer">
        <h2>{{title}}</h2>
        <img src="../../../../assets/Full Map.png">
    </figure>
    <div class="dudas">
            <h2>¿Tienes alguna duda?</h2>
        <div class="enlaces">
            <a href="" >Preguntas</a>
            <a href="" >Respuestas</a>
        </div>
    </div>
</article>

