.container-finanzas{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 20px;
  margin-top: 55px;
  .bar-finanzas{
    display: flex;
    flex-direction: row;
    .finanzas{
      color: darkgreen;

    }
  }
  .ganancias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    .total-ganancia{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .total-fi{
        text-align: right;
        font-size: 14px;
      }
      .precio-fi{
        font-size: 30px;
        color: grey;
      }
    }
  }

  .material-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .linea-credito{
    margin-bottom: 20px;
    .cantidad{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .parrafo{
    width: 100%;
    height: auto;
    background:#FAF9F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 50px 20px;
    border-radius: 8px;
  }

  .producto-mas-vendido{
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 20px;
    p{
      font-size: 14px;
    }

    .content-vendido{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // background: chartreuse;


      .image-descrip{
        width: 40%;
        // background: chocolate;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content-des{
          width: 80%;
          text-align: center;

        }
      }

      .cant{
        width: 60%;
        // background: red;
        padding-left: 50px;

        p{
          font-size: 14px;
          margin-bottom: 19px;
        }
        .more-price{
          font-size: 20px !important;
        }
      }

    }
  }

  .toogle-mat{
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
