<div class="container-finanzas">
  <div class="bar-finanzas">
    <p>Mi cuenta ></p>
    <p class="finanzas">Finanzas</p>
  </div>

  <div class="ganancias">
    <div class="image-ganancia">
      <img src="https://user-images.githubusercontent.com/60928490/92069140-45b69300-ed6e-11ea-85e0-fd73fd690c50.png" alt="">
    </div>
    <div class="total-ganancia">
      <p class="total-fi">TOTALES</p>
      <p class="precio-fi">S/. 980.00</p>
    </div>
  </div>

  <div class="material-container">
    <mat-form-field appearance="fill">
      <mat-label>Selecciona un mes</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option value="Setiembre">Setiembre</mat-option>
        <mat-option value="Octubre">Octubre</mat-option>
        <mat-option value="Noviembre">Noviembre</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Mes Seleccionado: {{selected}}</p>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Categoría</th>
      <th scope="col">Invertido</th>
      <th scope="col">Ganado</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Aceites</td>
      <td>s/. 100.00</td>
      <td>s/. 90.00</td>
    </tr>
    </tbody>
  </table>

  <div class="producto-mas-vendido">
    <p>Producto más vendido</p>
    <div class="content-vendido">
      <div class="image-descrip">
        <div class="image-b">
          <img src="https://user-images.githubusercontent.com/60928490/92071776-44d52f80-ed75-11ea-9b6d-d16db96b3050.png" alt="">
        </div>
        <div class="content-des">
          <p>Detergente Bolívar Bebé 400gr</p>
        </div>
      </div>
      <div class="cant">
        <p>Cantidad: 10</p>
        <p>Ganaste:</p>
        <p class="more-price">s/.200.00</p>
      </div>
    </div>
  </div>

  <!-- <table class="table table-striped">
    <tbody>
    <tr>
      <td>
        <img src="https://user-images.githubusercontent.com/60928490/92071776-44d52f80-ed75-11ea-9b6d-d16db96b3050.png" alt="" srcset="">
      </td>
      <td>
        <p>Detergente Bolivar Bebé 400gr</p>
        <p>Cantidad: 10</p>
      </td>
      <td>s/. 200.00</td>
    </tr>
    </tbody>
  </table> -->

  <div class="linea-credito">
    <p>Línea de Crédito</p>
    <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p>
    <div class="cantidad">
      <p>s/. 200.00</p>
      <p>s/. 1000.00</p>
    </div>
  </div>

  <div class="parrafo">
    <p>¡Aún te quedan 800 soles por invertir!</p>
    <p>No olvides hacer un uso responsable para disponer de un mayor crédito al próximo mes</p>
  </div>

  <div class="toogle-mat">
    <mat-slide-toggle>Establecer máximo de compra</mat-slide-toggle>
  </div>

</div>
