@import '../../../components/catalogo/catalogo.component.scss';

section {

    display: flex;
    flex-direction: column;
    align-items: center;

    app-carousel {
        margin-top: -55px;
    }

    .section-resumen {
        width: 90%;
        margin-top: 3%;
        &-title {
            display: flex;
            justify-content: space-between;

            button {
                color: #1E5532;
            }

        }

        article {
            background: #1E5532;

            padding-left: 3%;
            padding-right: 3%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 7px;

            .table {
                color: #FFFFFF;

                tbody {
                    tr {
                        button {
                            color: #FFFFFF;
                        }
                    }
                }
            }

        }

    }
}
.edit-text{
    margin-left: 5%;
    margin-bottom: 0;
}
.table th, .table td {
    padding: 0.5rem;
    border-top: none;
}