
<section>
    <app-carousel></app-carousel>
    <div class="section-resumen">
        <div class="section-resumen-title">
            <h2>RESUMEN</h2>
            <button mat-button>Ver reportes ></button>
        </div>
        <article>
            <table class="table">
                <tbody>
                    <tr>
                    <td>Total Operarios Aliados</td>
                    <td>120</td> 
                    <td><button mat-button>Ver reporte</button></td>
                    </tr>
                    <tr>
                    <td>Jacob</td>
                    <td>500</td>
                    <td><button mat-button>Ver reporte</button></td>
                    </tr>
                    <tr>
                    <td>Pedidos del día</td>
                    <td>30</td>
                    <td><button mat-button>Ver reporte</button></td>
                    </tr>
                </tbody>
                </table>
        </article>
    </div>
    
</section>
<h2 class="edit-text">EDITAR PRODUCTOS</h2>
<app-fila-products [data]="category"></app-fila-products>
